@import ('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400i|Lato');

table {
   border-collapse: collapse;
  border-style: hidden; 
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

input {
    outline: none;
}

th, td {
  padding-right: 15px;
  border: 1px solid white;
}

.column100 {
  padding-left: 10px;
}

.column100.column1 {
  padding-left: 10px;
}

.row100.head th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.row100 td {
  padding-top: 5px;
  padding-bottom: 5px;
  
}


/*==================================================================

[ Ver2 ]*/
.table100.ver2 td {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}



.table100.ver2 th {
  font-family: 'Lato', sans-serif;
  font-size: 0.7rem;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  pointer-events:none;
  background-color: #d9654f;
}

.table100.ver2 .row100:hover td {
  background-color: #f2f2f2;
}

.column100.column2 {
    color: black;
    width: 10%;
    padding-left: 5px;
    padding-right: 5px;
}

.column100.column4 {
    padding-right: 6px;
    padding-left: 6px;
}

.column100.column3{
  text-align: center;
    color: black;
    width: 10%;
    border-right: none;
    padding-left: 5px;
    padding-right: 5px;
}
.column100.column2:hover{
    background-color: #f2f2f2;
    color: black;
}


.table100.ver2 .hov-column-ver2 {
  background-color: #f2f2f2;
  color: black;
}

td.column100.column1 {
    border-collapse: collapse;
    text-align: left;
    width: 40%
}

th.column100.column1 {
       border-top-left-radius: 10px; 
}

th.column100.column4 {
    border-top-right-radius: 10px;
}

#col4 {
    border-top-right-radius: 10px;
}



/*==================================================================
[ Ver2 ]*/
.table100.ver2 tbody tr:nth-child(even) {
  background-color: rgba(233, 200, 147, 0.2);
}

.table100.ver2 td {
  font-family: 'Lato', sans-serif;
  font-size:0.7rem;
  color: black;
  line-height: 1.4;
}

.table100.ver2 th {
  font-family: 'Lato', sans-serif;
  font-size: 0.6rem;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
}


/*==================================================================*/

input { outline: none; }

#deposito {
    width: 80% !important;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #d9654f;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 0.6rem;
}

#gastosc {
    width: 80% !important;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #d9654f;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 0.6rem;
} 


#detalles {
    max-width:50%;
}

#legales {
    width: 85% !important;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #d9654f;
    background: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 0.6rem;
}
#servicios {
     box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #d9654f;
    background: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 0.6rem;
}

/*==================================================================*/

.check {
  position: absolute;
  opacity: 0;
}
.check + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.check + label:before {
  content: '';
  display: inline-block;
  vertical-align: text-top;
  width: 12px;
  height: 12px;
  background-color:darkgray;
}
.check:hover + label:before {
  background: #d9654f;
  font-family: "Fira Sans", sans-serif; 
}

.check:checked + label:before {
  background: #f35429;
}
.checked:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.check:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.check:checked + label:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 4px;
  background color:lightgray;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*==================================================================

[ Ver3 ]*/

.table100.ver3 td {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}



.table100.ver3 th {
  font-family: 'Lato', sans-serif;
  font-size:0.8rem;
  color: #fff;
  text-transform: uppercase;
  pointer-events:none;
  background-color: #d9654f;
}

.table100.ver3 .row100:hover td {
  background-color: #f2f2f2;
}


.column100.column2{
  text-align: center;
  vertical-align: middle;
    color: black;
    width: 10%
}

.table100.ver3 .hov-column-ver2 {
  background-color: #f2f2f2;
  color: black;
}


/*==================================================================
[ Ver3 ]*/
.table100.ver3 {
    display: flex;
    width: 100%;
}
.table100.ver3 tbody tr:nth-child(even) {
  background-color: rgba(233, 200, 147, 0.2);
}

.table100.ver3 td {
  font-family: 'Lato', sans-serif;
  font-size:0.7rem;
  color: black;
}

.table100.ver3 th {
  font-family: 'Lato'. sans-serif;
  font-size:0.6rem;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
}

/*==================================================================*/
td.column100.column4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color:#d9654f; 

}



